/*!
 * Start Bootstrap - Full Width Pics (https://startbootstrap.com/templates/full-width-pics)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-full-width-pics/blob/master/LICENSE)
 */

body {
    padding-top: 56px;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#home-header {
    background-image: url('../img/background.jpg');
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
}

#home-header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(22 23 33 / 85%);
    z-index: -1;
}

#home-header img {
    z-index: 10;
    /* max-width: 11%; */
    max-width: 186px;
}

.page-title {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, #958235, #c6bd7b 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.bg-blue {
    background-color: #16182e;
}

.sub-heading-wrapper {
    background-color: #555666;
    padding: 10px;
    box-shadow: 0 0 1rem 0.5rem rgb(22 24 46 / 24%);
    text-align: center !important;
}

.sub-heading-wrapper h3 {
    text-align: center;
    color: #fff;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    border-bottom: 4px double #9E9E9E;
}

.expertise-section .card {
    transition: all 0.3s ease-in;
    box-shadow: 0 0 1rem 0rem rgb(63 81 181 / 20%);
    border-color: transparent;
    min-height: 285px;
}

.expertise-section .card img {
    transition: transform 0.3s ease-in;
}

.expertise-section .card:hover {
    border-color: #8d96f8;
}

.expertise-section .card-body {
    transition: all 0.3s ease-in;
}

.expertise-section .card:hover .card-body {
    background: #8d96f8;
}

.expertise-section .card:hover .card-title {
    color: #fff;
}

.expertise-section .card:hover img {
    transform: scale(0.9);
}

.expertise-section .card-body {
    padding: 10px;
}

.expertise-section .card-title {
    text-align: center;
    margin-bottom: 5px;
}

.call-to-action {
    /* background-image: url('../img/call-to-action-bg.PNG'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: #16182e;
    padding: 20px 10px;
    position: relative;
    z-index: 2;
}

.call-to-action p {
    color: #fff;
    font-size: 20px;
}

.text-golden {
    background: -webkit-linear-gradient(45deg, #958235, #c6bd7b 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* Faq */

.accordion-section {
    background: #f8f8f8;
}

h2 {
    /* font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase; */
}

.accordion-section .panel-default>.panel-heading:hover {
    background: #f2f2f2;
}

.accordion-section .panel-default>.panel-heading {
    border: 0;
    background: #fff;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #999933;
    transition: all 0.3s ease-in;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    color: #999933;
    text-decoration: none;
}

.accordion-section .panel-default .panel-title a:after {
    content: '';
    background-image: url(../img/arrow-up.png);
    background-size: 30px;
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    top: 9px;
    transform: rotate(-180deg);
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: '';
    background-image: url(../img/arrow-up.png);
    background-size: 30px;
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    top: 26px;
    transform: rotate(-360deg);
}

.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    background: #fff;
}

footer {
    background-color: #16182e;
}

hr {
    border: 1px solid rgb(255 255 255);
}


/* 
* Media quries
*/

.show-in-mobile {
    display: none;
}

@media (max-width: 576px) {
    .navbar-brand {
        line-height: 1.05;
    }
    .show-in-mobile {
        display: inline;
    }
    #home-header img {
        max-width: 125px;
    }
    .page-title {
        font-size: 2rem;
    }
    .sub-heading-wrapper h3 {
        font-size: 1.5rem;
    }
    .accordion-section .panel-default .panel-title a {
        font-size: 1rem;
    }
    .accordion-section .panel-default .panel-title a.collapsed:after {
        background-size: 15px;
        top: 23px;
    }
    .accordion-section .panel-default .panel-title a:after {
        background-size: 15px;
        top: 0px;
    }
}

.social img {
    border-radius: 50%;
    max-width: 35px;
    transition: all 0.3s ease-in;
}

.social img:hover {
    opacity: 0.8;
}